*{padding:0;margin:0 auto;text-decoration:none;font-family:Helvetica, Arial;}
textArea{resize:none; padding:5px;}
::-webkit-scrollbar-track {background-color: transparent;border-radius:10px;}
::-webkit-scrollbar { width: 12px;background:#AAA; border-radius:10px; padding-right:10px;}
::-webkit-scrollbar-thumb { background: #dad7d7; border-radius:10px; margin-top:20px;}
