#textoContador{
               font-size:12pt;
               color:whitesmoke;
               position:absolute;
               left:36%;
               top: 65%;
               z-index: 99;
            }
#contador{
               position:absolute;
               left:5%;
               top: 50%;
            }