/***********************************************//*****************************************************************************************/
/*PARTE FIXA*/
#container{width:100vw; height: 90vh; background-color:white}
#header_fixo{width: 100vw; height:70px; background-color:#083C87; margin-left:-1px; position: fixed; z-index: 3;}
#logo_fixo{margin-top:8px;float:left;}
#menu_fixo{float:right; margin-top:13px; margin-right:10px;}
#myTopnav{display:none;}
.link_header{margin-right:20px; margin-top:15px}
.img_header{width:40px; height:40px;}
#content{width: 100vw; min-height: 88.7vh; background-color:transparent; float: right; z-index: 3;padding-bottom: 10px;}
#lateral_fixo{width:14vw; height:91vh; margin-top:70px; background-color:#062466; float: left; position: fixed; z-index: 0;  text-align:center}
#img_perfil{margin-top:40px; border-radius: 50%;}
#menu_lateral{width:100%;z-index:5000}
#lista_lateral{text-decoration:none; display:block; padding-bottom:10px; padding-top: 10px;z-index:5000}
.lista_lateral{padding-top: 12px; padding-bottom: 10px; width:14vw; z-index:5000;}
.lista_lateral:hover{display:block;}
.lateral_estilo{margin-top:5px; text-decoration:none; color:white;z-index:5000}
.lateral_estilo:hover{color:black; background-color:#9999CC; border:2px #9999CC solid; padding-left:25px; padding-right:25px; padding-bottom:5px; border-radius:10px;}
#nome_user{font-size:1.0rem;}
#lateral_nome{margin-bottom:20px;}
#rodape_fixo{clear: both; width:100vw; height:80px; background-color:#083C87; position:relative; z-index:3;}
#img_rodape{float:left; margin-left:10px; margin-top: 5px;}
.link_rodape{float:right; color:black; text-decoration:none; display:inline-block; margin-left:10px; margin-right:20px; margin-top:60px;}
.conteudo{width:86vw; margin-top:9vh; margin-left:14vw;}
#perfilResponsivo{display:none}
#someMenuResp{display:none;}
#CriaExD{display:none}
#tituloEnem{color:white;margin-top:80px}
/***********************************************//*****************************************************************************************/
/*HOME*/
#titulo_home{width:82vw; text-align:center;}
#conteudo_home{text-align: center;overflow-x:hidden;}
.disciplinas{display:inline-block;}
.disciplinasIMG{margin-right:50px; margin-top:25px; border-radius:50px; -webkit-box-shadow: 5px 5px 5px  #363636; -moz-box-shadow: 5px 5px 5px #363636; transition: all ease 1s}
.disciplinasIMG:hover{width:320px; height:320px; transition: all ease 1s}
.homeH2{text-align:center; margin-left:-50px; margin-top:10px; color:black;margin-bottom: 5px}
.homeH2:hover{font-size:1.6rem; transition: all ease 1s;}
#tituloHome{padding-top:10px;}
/***********************************************//*****************************************************************************************/
/*Login*/
#container2{width:80vw; height: 90vh; text-align: center; overflow:hidden;}
#loginAluno{float: left; width: 40%; height: 335px; background-color:#468BD1; border-radius: 15px; z-index:4;}
#loginProfessor{float:right; width: 40%; height:335px; background-color:#D63249;  border-radius: 15px; z-index:4;}
#textoApresentacao{width: 100%; text-align: center; margin-bottom: 10px; border-radius: 5px; z-index:4; color:#ffffff}
#formularios{margin-top: 20px;}
.titulosLogin{text-align: center; font-size: 1.5rem; margin-top: 10px; padding-bottom:15px}
#formAluno{width: 200px;}
#formProf{width: 200px;}
#rodape_fixo2{width:100vw; height:80px; background-color:#083C87; position:relative; clear:both;}
#body2{background-image: url(../imagem/fundo.jpg); background-repeat: no-repeat; background-size:100% 100%; overflow:hidden;}
#textoApresentacao{background-color:#153F89; margin-top:7vh; margin-bottom: 7vh; padding:5px;}
.textosLogin{text-align: justify; padding-right:10px; padding-left:10px;}
.formsLogin{margin-top: 30px;}
.menuLogin{display: inline; margin-right: 30px; margin-left: 30px;}
.loginLinks{margin-top: 15px;}
.aLogin{color: #000; font-size: 1.1rem; transition: all ease 1s;}
.aLogin:hover{color: #ccc; transition: all ease 1s;}
.frmSenha{}
.inputEmail{margin-bottom: 15px; width:200px;}
.inputSenhaLogin{width:200px;}
input{border-bottom:1px white solid; border-left:none; border-top:none; border-right:none; background-color:transparent; text-align:center;}
input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:active, input:-webkit-autofill:hover{-webkit-box-shadow: 0 0 0px 1000px white inset;}
textarea:focus, input:focus{outline: none;}
input[type=submit]{}
.submitLogin{border: 1px solid #ccc; padding: 5px; border-radius: 5px; transition: all ease 1s; font-weight: bold; color: #ccc}
.submitLogin:hover{border-radius: 1px; transition: all ease 1s; padding: 7px;}
.botao{margin-top: 10px;}
#botaoAluno{display:none;}
#botaoProfessor{display:none;}
/***********************************************//*****************************************************************************************/
/*Esqueceu a senha(aluno)*/
#espacoSenhaA{width: 40%; height: 350px; background-color:#468BD1; border-radius: 15px; margin-top:100px; margin-left:31%; text-align:center;}
.textoSenha{padding-top:20px; font-size:1.1rem; text-align:center}
.formEsqueceSenha{margin-top:50px;}
.labelEsqueceSenha{font-weight: bold; font-size: 1.4rem; }
.emailEsqueceSenha{width:350px;margin-top:50px; height:40px; font-size:1.1rem}
.botoesSenha{margin-top:50px}
.enviaSenhaNova{margin-left:20px; font-weight:bold; border: 1px solid #ffffff; border-radius:10px; font-size:1.2rem; padding:4px; padding-left:10px; padding-right:10px;}
.voltaLogin{margin-left:10px; font-weight:bold; border: 1px solid #ffffff; border-radius:10px; font-size:1.2rem; padding:4px; padding-left:10px; padding-right:10px; color:#000;}
/***********************************************//*****************************************************************************************/
/*ESQUECEU SUA SENHA (Professor)*/
#espacoSenhaP{width: 40%; height: 350px; background-color:#D63249; border-radius: 15px; margin-top:100px; margin-left:31%; text-align:center;}
/***********************************************//*****************************************************************************************/
/*MODAL LOGIN*/
.janelaModalA{text-align:center; border-radius:40px; width:700px; height:450px; position:absolute; left:50%; top:50%; margin-left:-330px; margin-top:-380px; z-index:5;}
.janelaModalP{text-align:center; border-radius:40px; width:700px; height:750px; position:absolute; left:50%; top:50%; margin-left:-330px; margin-top:-395px; z-index:5;}
#colunaModalA{columns:2; margin-top:40px;}
#colunaModalP{columns:2; margin-top:40px; margin-bottom:30px}
#selecao-arquivo{display:none}
#selecao-arquivo1{display:none}
#selecao-arquivo3{display:none}
#cadastroBasico{text-align:center;}
.ImagemPerfilModal{text-align:center;}
.modalTitulo{ width:500px; height:22px; margin-bottom:2px; display:none;}
.FecharModal{ width:22px; height:22px; background: url(../imagem/fechaModal.png); margin-right:30px; margin-top:30px;float:right; cursor:pointer;}
.conteudoModalA{width:700px; height:750px; border:2px solid #333; border-radius:40px; background:#468BD1;}
.conteudoModalP{width:700px; height:795px; border:2px solid #333; border-radius:40px; background:#D63249;}
.conteudoModal p{ font-family:arial, Verdana, Helvetica; font-size:13px; padding:10px; text-align:center;}
.fundoModal{ width:100%; height:100%; position:fixed; background: url(../imagem/fundoModal.png); z-index:1;}
.labelCadastroBasico{ display:inline-block; font-size:1.2rem; font-weight:bold; width:250px; margin-top:15px;}
.inputCadastroBasico{width:300px; height:25px; font-size:1.1rem; color:black; box-shadow: inset 2px 2px 2px #999; margin-top:15px; padding:7px; border-radius:10px; border:1px solid #000;}
.botao_sexo{width:10px;}
.hint{ display:none;}
.inputCadastroBasico:focus + .hint, input:focus + .hint{ display:inline-block;}
.error{color:red; display:block; font-size:0.8em; font-style:italic; margin: 5px 0 0 90px;}
.submitCadastro{width:200px; height:40px; border: 1px solid black; padding: 5px; border-radius: 10px; transition: all ease 1s; font-weight: bold; color: #000; margin-top:20px}
.submitCadastro:hover{border-radius: 20px; transition: all ease 1s; padding: 7px;}
#titulo_login{text-align:center; margin-top:15px; padding-bottom:20px; margin-left:50px;}
#aluno{width:120px; height:120px; border-radius:60px; margin-bottom:20px;}
#prof{width:120px; height:120px; border-radius:60px; margin-bottom:20px;}
.fem{width:100px; height:100px; border-radius:50px;}
#inputDataP{margin-left:-60px;}
#labelDataP{margin-left:-30px}
#labelData{margin-left:1px}
#dataModalP{width:200px; margin-top:-25px;}
#sexoMascA{display:none}
#sexoFemA{display:none}
#sexoMascP{display:none}
#sexoFemP{display:none}
.masculino{border:1px solid #ffffff; padding:5px; border-radius:10px; padding-left:26px; padding-right:26px;}
.feminino{border:1px solid #ffffff; padding:5px; border-radius:10px; margin-left:10px; padding-left:26px; padding-right:26px;}
.masculino:hover{padding-left:27px; padding-right:27px; padding-top:7px;}
.feminino:hover{padding-left:27px; padding-right:27px; padding-top:7px;}
#labelImgModal{border:1px solid #ffffff; border-radius:10px;padding-top:2.5px;padding-bottom:2.5px;}
#labelImgModal:hover{padding-top:8px;padding-bottom:8px;}
#labelImgModalP{border:1px solid #ffffff; border-radius:10px;padding-top:2.5px;padding-bottom:2.5px;}
#labelImgModalP:hover{padding-top:8px;padding-bottom:8px;}
.concordo{margin-top:10px;}
/***********************************************//*****************************************************************************************/
/*Vestibular*/
#enem{width:700px; height:auto; background-color:#062466;margin-top:80px;margin-left:300px;border-radius:20px}
#fuvest{width:700px; height:295px; background-color:lightblue;margin-top:100px;margin-bottom:20px}
.parteTitulo{width:720px;height:50px;margin-top:10px;margin-left:-10px;background-color:#083C87;text-align:center;border-radius:10px;}
.tituloVestibular{font-size:20pt;color:white;padding-top:10px}
.linksMateriais:active{color:red;background-color:yellow; border-radius:10px}
.linksMateriais{color:white;padding:4px}
.tituloSobreExame{margin-left:17px;font-size:15pt; cursor:pointer}
#abrirMaterial1{color:white;padding-left:20px;padding-bottom:10px;cursor:pointer;margin-top:20px;border-bottom:2px solid #ffffff}
#abrirMaterial2{color:white;padding-left:20px;padding-bottom:10px;cursor:pointer;margin-top:30px;border-bottom:2px solid #ffffff}
#abrirMaterial3{color:white;padding-left:20px;padding-bottom:10px;cursor:pointer;margin-top:30px;border-bottom:2px solid #ffffff}
#parteLinks{ overflow:auto; color:white; width:600px;height:300px;margin-left:25px;margin-top:10px;}
#parteLinks2{overflow:auto; color:white; width:600px;height:300px;margin-left:25px;margin-top:10px}
#parteConteudoSobreExame{overflow:auto; width:600px;height:300px;margin-top:20px;margin-left:25px;background-color:transparent;color:white;}
#parteConteudoSobreExame2{overflow:auto; width:600px;height:300px;margin-top:20px;margin-left:25px;background-color:transparent;color:white;}
#cursos{overflow:auto; width:600px;height:230px;margin-top:10px;margin-left:25px;background-color:transparent;color:white;padding-bottom:15px}
#cursos2{overflow:auto; width:600px;height:230px;margin-top:10px;margin-left:25px;background-color:transparent;color:white;padding-bottom:15px}
.abrirSobreExames{cursor:pointer}
.exatas{color:white}
.humanas{color:white}
/*******************************************************************************************************************************************************************************************************************/

/* Topicos */

.topico{height:75px; width:87vw;  border-bottom:2px solid black; color: #000;}
.imagemTopico{width:65px; height:65px; border-radius:50%; -webkit-box-shadow: 5px 5px 5px  #363636; -moz-box-shadow: 5px 5px 5px #363636; float: left; margin-left: 10px; margin-top: -5px}
.tituloTopico{margin-left: 150px; margin-top: 10px;}
.textoTopico{margin-left: 150px; margin-top: 5px;margin-right: 50px;}
#conteudo_topico{margin-top: 10vh;}


/*******************************************************************************************************************************************************************************************************************/

/* Area Admin */

#conteudo_adm{margin-top:-110px;text-align: center;}
#tituloAdm{margin-top:265px;}
.areaAdmItemMenu{margin-top: 30px; margin-bottom: 30px;}
.linkMenuAdm{font-size: 1.5rem; color: #000; transition: all ease 1s;}
.linkMenuAdm:hover{color: #ccc; transition: all ease 1s;}
#lista_menu_adm{}


/*******************************************************************************************************************************************************************************************************************/

/* Cadastro Admin */

#conteudo_cadastro_usuario_adm{text-align: center;}
#cadastroAdm{width: 500px;}
.labelCadastroAdm{margin-top: 10px; margin-bottom: 5px}
.inputCadastroAdm{margin-bottom: 10px;}
#titulo_cadastroAdm{margin-top: 50px;}

/*******************************************************************************************************************************************************************************************************************/

/* Sobre Nós */

#sobreNos{margin-top:90px;}
#tituloSobreNos{text-align:center; margin-top:20px;}
#posicaoImgGrupo{margin-left:90px; display:inline-block;}
.img_grupo{width:200px; height:200px; border-radius:100px; margin-top:90px; }
.nomeGrupo{text-align:center;}
.textoSobreNos{text-align:justify; width: 80%; text-indent: 30px; text-height: text-size;}
.funcaoGrupo{opacity:0; text-align:center; transition: all ease 2s;}
#posicaoImgGrupo:hover .funcaoGrupo{opacity:1; transition: all ease 1s;}
#divTextoSobreNos{margin-top: 50px;margin-bottom: 50px;}
#paragrafo2SobreNos{margin-top: 7px;}
/*******************************************************************************************************************************************************************************************************************/

/* Sobre Nós (Login)*/
#posicaoImgGrupoI{margin-left:1%; display:inline-block;}
#posicaoImgGrupoI:hover .funcaoGrupo{opacity:1; transition: all ease 1s;}
#espacoSobreNosI{ width:95vw; height:600px; border:1px solid black; background-color:#468BD1; border-radius:10px;}
.img_grupoI{width:100px; height:100px; border-radius:100px; margin-top:90px;}
.tituloSobreNosI{padding-top:30px;}
.textoSobreNosI{text-align:justify; width: 80%; text-indent: 30px; text-height: text-size;}
#container3{ height: 90vh; text-align: center; overflow:hidden;}


/*******************************************************************************************************************************************************************************************************************/

/* Termos de uso */

#tituloTermos{text-align:center}
#termosDeUso{text-align:justify; width:81vw; margin-left:10px; padding-left:10px; margin-bottom:50px}
.listaTermos{list-style:circle;margin-left:  60px;}
.paragrafoTermos{text-indent: 30px; padding-bottom:10px; margin-left:30px}
.hTermos{padding-bottom:10px; padding-top:10px; text-indent: 30px;}
#termos{}


/*******************************************************************************************************************************************************************************************************************/

/* Termos de uso (Login)*/
#espacoTermosI{width:400px; height:500px; overflow:auto; background:#468BD1; border-radius:6px; padding:20px; text-align:justify; margin-top:30px}
.tituloTermosI{padding-bottom:30px; text-align:center}
.textoTermosI{padding-bottom:10px;}
/*******************************************************************************************************************************************************************************************************************/

/* Privacidade */
#privacidadeTexto{text-align:justify; width:81vw; margin-left:10px; padding-left:10px; margin-bottom:50px}
#tituloPriv{text-align:center; padding-top:10px; padding-bottom:30px}


/*******************************************************************************************************************************************************************************************************************/

/* Privacidade (Login)*/
#espacoPrivI{width:400px; height:500px; overflow:auto; background:#468BD1; border-radius:6px; padding:20px; text-align:justify; margin-top:30px}
/*******************************************************************************************************************************************************************************************************************/

/* Perfil */
#conteudoPerfil{display:inline-block; margin-left:330px; width:70%; height:auto; border-radius:60px; background-color:#0080CC; margin-top:160px;}
.imagemPerfil{float: left; margin-left:20px; width:300px; margin-top:40px; height:300px; border-radius:150px;}
.alterarSenha{float:right;}
.alterarPerfil{margin-top:-50px;}
#attFoto{float:left; margin-top:30px; margin-left:115px;}
.editarPerfil{width:30px; height:30px;}
#alteraP{float:right; margin-right:30px; margin-top:-280px;}
#editarTextoP{margin-top:10px; opacity:0;  margin-left:-25px; transition:all ease 1s;}
#editarTextoS{margin-top:10px; opacity:0; margin-left:-30px; transition:all ease 1s;}
#editarTextoF{margin-top:10px; opacity:0; margin-left:-25px; transition:all ease 1s;}
#alteraP:hover #editarTextoP{opacity:1; transition:all ease 1s;}
#informacoes{margin-top:120px; columns:2;}
.idPerfil{text-align:left; font-size:1.3rem; padding:10px; width:190px; font-weight:normal;}
.idPerfilT{text-align:left; font-size:1.3rem; padding:10px; width:190px;}
.alterarFotoPerfil{padding:5px; padding-left:15px; padding-right:15px; border-radius:10px; border:black solid 1px; font-weight:bold; margin-left:-12%; margin-top:-20px;}
#alteraF{float:right; margin-top:-280px; margin-right:280px;}
#alteraF:hover #editarTextoF{opacity:1; transition:all ease 1s;}
#alteraS{float:right; margin-top:-280px; margin-right:150px;}
#alteraS:hover #editarTextoS{opacity:1; transition:all ease 1s;}
#AlteraFoto{}
#confirmaPerfilImg{display:none;margin-bottom:10px;}
input[type=file]{float:left;display:block}
#trocaFotoPerfil{display:none}
.hide{display:none;float:left}
/*******************************************************************************************************************************************************************************************************************/

/* Perfil (alterar senha)*/

#novaSenha{text-align:center; margin-top:10%;}
#alterarSenha{text-align: center; width:400px; height:300px; background-color:#0080CC; margin-top:80px; border-radius:50px;}
#enviarSenhaNova{margin-left:30px; margin-top:30px;}
.labelCadastroBasicoS{display:inline-block; font-size:0.9rem; font-weight:bold; width:150px; margin-top:40px;}
.inputCadastroBasicoS{margin-left:20px; border-bottom:1px solid #ffffff; margin-top:15px; padding:7px }
.inputCadastroBasicoS:focus + .hint, input:focus + .hint{ display:inline-block;}
.submitCadastroS{border: 1px solid black; padding: 5px; border-radius: 5px; transition: all ease 1s; font-weight: bold; color: #000}
.submitCadastroS:hover{border-radius: 1px; transition: all ease 1s; padding: 7px;}
/*******************************************************************************************************************************************************************************************************************/

/* Perfil (alterar perfil)*/

#cadastroBasicoP{width: 400px; height:350px; background-color:#0080CC;  margin-left:450px; margin-top:80px; border-radius:50px;}
.labelCadastroBasicoP{margin-top:40px; display:inline-block; font-size:0.9rem; font-weight:bold; width:150px; margin-left:20px;}
.inputCadastroBasicoP{ border-bottom:1px solid #ffffff; margin-top:15px; padding:7px }
.inputCadastroBasicoP:focus + .hint, input:focus + .hint{ display:inline-block;}
.submitCadastroP{border: 1px solid black; padding: 5px; border-radius: 5px; transition: all ease 1s; font-weight: bold; color: #000; margin-left:165px; margin-top:30px;}
.submitCadastroP:hover{border-radius: 1px; transition: all ease 1s; padding: 7px;}

/*******************************************************************************************************************************************************************************************************************/

/* Conteúdo Disciplina*/

#conteudo_disciplina{}
#tituloCont{text-align:center; padding-top:10px}
#imgCont{text-align: center; border-radius:10px; margin-top:50px;max-width:90%;max-height:300px;}
#colunasCont{ text-align: justify;}
#textoCont{margin-left:200px; margin-right:200px; font-size: 1.1rem;}
#imagemCont{width: 100%; text-align: center;  margin-bottom:50px;}
#posicaoBotoesCont{float:right; margin-right:100px; margin-top:50px;}

/*******************************************************************************************************************************************************************************************************************/

/* Criar exercícios */
.fotoEx{display:none;} 
.SelecionarImgEx{border:1px solid #000; border-radius:10px; padding-left:100px; padding-right:100px;}
.nomeListaEx{ padding-left:80px;}
.nomeListaExInput{ border:1px solid #000; border-radius:10px;}
#formObj{text-align: center;}
#formDiss{text-align: center;}
#titulo_cadastrar_exercicio{text-align:center; padding-bottom:50px; padding-top:20px;}
#listaExercicios{border-radius:10px; padding:2px; margin-top:10px;}
#exsObjetivo{columns:2; width:84vw; margin-top:100px;}
#exsDissertativo{columns:2; width:84vw; margin-top:30px; margin-bottom:0px;}
.selecaoEx{ float:left; margin-top:3px; margin-right:5px;} 
.descricaoEx{width:35vw; height:100px; border-radius:5px; margin-top:0px; margin-bottom:20px;}
.enunciadoEx{float:left; font-weight:bold; margin-top:-20px; padding-top:20px;margin-left: 8%;}
.posicaoAlternativas{width:500px; float:left; margin-top:20px; margin-bottom:20px; margin-left: 8%;}
.respostaEx{width:460px; border:1px solid #000; border-radius:2px; float:right;}
.espacoEx{padding-top:10px; padding-bottom:10px;}
#enviarEx{float:right; border:2px solid #000; border-radius:10px; padding-left:15px; padding-top:4px; padding-bottom:4px; padding-right:15px; margin-right:110px; margin-top:20px;}
.botaoEx{padding-left:5px; padding-right:5px; padding-bottom:2px; padding-top:2px; border:1px solid #000; border-radius:10px; margin-left:50px; color:black; margin-top:100px;}
/*******************************************************************************************************************************************************************************************************************/

/* Área Adm */

.inputCadastroAdm{padding:2px; border: 1px solid #000; border-radius:5px; margin-bottom:50px;}
.labelCadastroAdm{margin-top:50px;}
/*******************************************************************************************************************************************************************************************************************/

/* Cadastro Disciplina */
 
#tituloImgDisc{margin-bottom:20px;}
#conteudoCadDisc{text-align:center; padding-bottom:50px; padding-top:20px;}
.tituloCad{margin-bottom:50px;}
.cadastroAdm{text-align:center; width:300px}
.submitCadastroAdm{float:left; margin:0;padding:0; margin-left:110px; margin-top:50px; border: 1px solid #000; border-radius:5px; padding-left:10px; padding-right:10px; padding-top:2px; padding-bottom:2px;}
.inputCadastroAdmImg{margin-top:50px;}
/*******************************************************************************************************************************************************************************************************************/

/* Tópico Exercícios */
.tituloTopicoEx{text-align:center; margin-top:50px}
#colunaTopicoEx{columns:3;margin-bottom:100px; padding:10px; text-align:center; margin-top:40px;}
#espacoExTopicos{width:24vw; border-radius:5px; margin-bottom:5px; padding:15px; -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;}
#topicoEx{color:black;}
.Matemática{border:2px solid red;}
.Português{border:2px solid blue;}
.História{border:2px solid blue;}
.Química{border:2px solid red;}
.Geografia{border:2px solid blue;}
.Física{border:2px solid red;}
.Sociologia{border:2px solid green;}
.Biologia{border:2px solid blue;}
.Filosofia{border:2px solid green;}
.linhaTopicoEx{padding-bottom:5px;}
#CriaExProf{border:2px solid black; border-radius:5px; padding:5px; color:black; margin-left:60vw;}

/*******************************************************************************************************************************************************************************************************************/

/* Tópico Exercícios criados pelo professor*/

.voltarBotao{border:1px solid #000; border-radius:5px; padding-bottom:5px;margin-right:10px; padding-top:5px; padding-left:10px; padding-right:10px;  font-size:0.8rem; color:black}
.voltarBotao:hover{font-weight:bold}
#colunaTopicoExP{columns:3;margin-bottom:100px; padding:10px;  text-align:center; margin-top:40px;}
#espacoExTopicosP{width:24vw; border-radius:5px; margin-bottom:5px; padding:15px; -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;}
#voltarTopicoExP{margin-left:42vw;}
#topicoExP{color:black;}

/*******************************************************************************************************************************************************************************************************************/

/* Simulado Tópico*/

#colunaTopicoSimulado{columns:3;margin-bottom:100px; padding:10px;  text-align:center; margin-top:40px;}
#espacoSimuladoTopicos{width:24vw; border:2px solid #000; border-radius:5px; margin-bottom:5px; padding:15px; -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;}
#topicoSimulado{color:black;}
#tituloTopicoSimulado{margin-bottom:40px; padding-top:20px}

/*******************************************************************************************************************************************************************************************************************/

/* Exercício*/
.colunaExSeleciona{columns:2; padding-top:80px; border-right:1px solid #000; -webkit-column-rule: 1px solid black;}
.letraEx{padding-right:5px;}
.bolinhaEx{width:15px; height:15px;}
.enunciadoEx{margin-top:0px; margin-bottom:30px; text-align:justify; word-break:normal; min-width:38.2vw; max-width: 38.2vw;-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;}
.questaoExSeleciona{margin-left: 5%;margin-bottom:30px;-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; }
.tituloExSeleciona{text-align:center; padding-top:15px;}
.areaResposta{width:35vw; height:150px; margin-left:10%}
.enunciadoFacilita{margin-left: -5%;margin-right: 5%; padding: 0;}
.questaoExLinha{padding-bottom:2px;}
.posicaoEnviarEx{text-align:center; margin-top:30px; margin-bottom:30px;}
.enviarEx{border:2px solid #000; padding:3px; width:200px; border-radius:10px;}
.enviarEx:hover{padding:5px;}
.imgExercicio{max-width:35vw;}
.imgEnunciadoEx{text-align:center;margin-bottom: 20px;}

/*******************************************************************************************************************************************************************************************************************/

/* Resposta Exercício (OBJ)*/

#mostraAcertos{height:30px}
.respCerta{color:green;}
.respErrada{color:red}
.tabelaResp{text-align:center; margin-top:10%;}
.linhaResp{width:200px; height:30px}
#linkVoltaResposta{padding-left:245px; padding-right:245px; padding-top:8px; padding-bottom:8px;}


/*******************************************************************************************************************************************************************************************************************/

/* Resposta Exercício (DISS)*/

.respostaExEspaco{border:2px solid #000; padding:20px; margin-bottom:20px; margin-top:50px; text-align:justify; min-width:80vw; max-width:80vw; border-radius:5px}
.enunciadoExercicioResult{margin-top:5px;}
.respUsuario{margin-top:20px;}
.respCerta{margin-top:20px;}
.tituloRespostaDiss{margin-bottom:5px; margin-top:5px;}
#respostaDiss{padding-top:20px;}
#linkVoltaRespostaDiss{padding-left:150px; padding-right:150px; padding-top:8px; padding-bottom:8px; border:2px solid #000; border-radius:10px; color:#000;}
.linhaRespDiss{margin-top:30px; margin-bottom:30px; text-align:center}

/*******************************************************************************************************************************************************************************************************************/

/* Area Adm(Usuarios)*/

.userAdm{padding:10px; text-align:center; max-width:400px;}
#conteudo_usuarios_cadastrados{margin-top:100px;}


/*******************************************************************************************************************************************************************************************************************/

/* Area Adm(Tópico)*/
.tituloCad{text-align:center}
.conteudoTopico{}
.inputCadastroAdmTopico{width:81vw; min-height:200px; margin-bottom:30px; margin-left:40px; margin-top:10px; text-align:justify; }
.inputCadastroAdmT{width:81vw; min-height:50px; margin-bottom:30px;margin-left: 40px;margin-top:10px;text-align:justify}
.inputCadastroAdmTopicoB{ border:1px solid #000; margin-bottom:30px; width:30vw; height:30px; border-radius:10px; margin-right:30px;text-align:justify; padding:5px;}
.labelCadastroAdmT{font-weight:bolder; padding:5px; margin-top:10px; margin-left:40px;}
#enviaNovoTopico{width:20vw; height:30px; margin-left:40%}

/*******************************************************************************************************************************************************************************************************************/

/* Area Adm(Novo Adm)*/

.labelCadastroAdm{margin-right:10px; font-weight:bold;}
#colocaImgNovoAdm{margin-top:20px; border:none}
#enviaNovoAdm{width:20vw; height:30px; margin-left:0px; margin-top:10px;}
#cadastroUserAdm{height: auto;}

/*******************************************************************************************************************************************************************************************************************/

/* Area Adm(Tabela Usuários)*/

.imgTabelaUser{width:100px; height:100px; border-radius:50px;}

/* Buscar*/

#buscar{display:none}
#consulta{border-bottom:1px solid #000; width:11vw; margin-left:30px; margin-right:30px}
.formBusca{padding-top:20px; padding-bottom:20px;}
#tituloBusca{width:1vw; margin:0; padding:0; margin-left:10px; font-weight:bold}
#buscaEnvia{margin-top:10px; margin-left:30px; margin-right:30px; border:1px solid #000; border-radius:10px; padding:3px; padding-left:10px; padding-right:10px}
#buscaEnvia:hover{padding:4px; padding-left:12px; padding-right:12px}

/*******************************************************************************************************************************************************************************************************************/

/* Janela Modal (erros e sucesso)*/
#cadSucesso{width:30vw; height:16vh; border:2px solid #000; border-radius:10px;background-color:#062466;}
.janelaModalSucesso{left:34.85%;z-index:101; position:absolute;top:41.7%}
#titulo_Sucesso{text-align:center; margin-top:13%; color:white;}
.fundoModalS{ width:100%; height:100%; position:fixed; background: url(../imagem/fundoModal.png); z-index:100;left:0;top:0;}